__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
.venv/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log

data/raw/
data/interim/
*.csv

!data/processed/
!data/processed/*.csv
!data/processed/*.npz

models/*.h5
models/*.joblib
models/*.pth
models/*.onnx
models/*.sav

!models/*.pkl

.env
.env.*
